body{

  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
    background-color: var(--background-color);
  transition: background-color 0.3s ease;
}



:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --button-bg: #000000;
  --button-text: #ffffff;
  --button-hover-bg: #333333;
  --card-bg: #f9f9f9;
  --card-shadow: rgba(0, 0, 0, 0.1);
}

body.dark {
  --background-color: #121212;
  --text-color: #e0e0e0;
  --button-bg: #e0e0e0;
  --button-text: #121212;
  --button-hover-bg: #bbb;
  --card-bg: #1c1c1c;
  --card-shadow: rgba(0, 0, 0, 0.7);
}